@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
